@font-face {
    font-family: "my font";
    src: url("Quicksand-VariableFont_wght.ttf") format("truetype");
}

body {
    margin-left: 20px;
    background-color: rgb(159, 250, 255);
    font-family: "my font", sans-serif;
    color: #1871c4;
}
header{
    background-color: #1973c7;
    padding: 10px;
    text-align: center;
    color: white;
}
h1{
    font-size: 40px;
    color:rgb(230, 245, 255) 
}
nav{
    margin: 20px ;
    
}
nav a{
    margin: 20px;
    color: #97bbfa;
    font-weight: bold;
    text-decoration: none;
}
nav a:hover{
    color: rgb(104, 237, 255);
    text-decoration: underline;
}
section{
    margin-top: 10px;
    padding: 1px 20px 20px 20px;
    background-color: rgb(230, 248, 255);
    border-radius: 10px;
    text-align: center;
}
h2{ 
    color : rgb(41, 83, 182);
    margin-bottom: 20px;
}
#about img{
    width: 200px;
    height: auto;
    border-radius: 48%;
    margin-bottom: 20px;
}
table{
    width: 60%;
    margin: auto;
    text-align: center;
    background: white;
}
th, td{
    padding: 12px;
    border: 1px solid #1b518f;
}
th{
    background-color: #2d7cc6;
    color: white;
}
.project1 {
    width: 60%;
    margin: 20px auto;
    background: white;
    border: 1px solid #2b6ab3;
    padding: 20px;
    border-radius: 8px;
}
.project2 {
    width: 60%;
    margin: 20px auto;
    background: white;
    border: 1px solid #2b6ab3;
    padding: 20px;
    border-radius: 8px;
}
.contact {
    width: 60%;
    margin: 20px auto;
    background: white;
    border: 2px solid #286dbc;
}
.contact td {
    border: 1px solid #295486;
    padding: 12px;
  }
  .contact  input,.contact textarea {
    width: 95%;
    padding: 8px;
    border: 1px solid #2f65a3;
}
.contact button {
    background-color: #1465d5;
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
.contact button:hover {
    background-color: #0b3b7f;
}
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #1973c7;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
   
}

.back-to-top:hover {
    background-color: #0b3b7f;
}
